astroid
colorama
Django
django-crispy-forms
django-static-jquery-ui
isort
lazy-object-proxy
mccabe
pyodbc
PyPDF2
pytz
six
sqlparse
typed-ast
wfastcgi
wrapt
wheel
setuptools
django-user-agents
user-agents
ua-parser