setuptools
wheel
setuptools-scm
pywin32
virtualenv
wfastcgi
asgiref
astroid
autopep8
black
cffi
cfgv
click
colorama
cryptography
distlib
Django
django-crispy-forms
django-mssql
django-static-jquery-ui
django-user-agents
djhtml
filelock
identify
importlib-metadata
isort
lazy-object-proxy
mccabe
mypy-extensions
nodeenv
packaging
pathspec
platformdirs
pre-commit
pycodestyle
pycparser
pylint
pylint-django
pylint-plugin-utils
pyodbc
pyparsing
PyPDF2
pytz
PyYAML
six
sqlparse
toml
tomli
typed-ast
typing_extensions
ua-parser
user-agents
wrapt
yapf
zipp
