<!-- ########################   Contact Us Footer Starts Here   ######################### -->
<div class="container">

    <!-- MODAL TRIGGER -->
    <a class="nav-link active" data-toggle="modal" data-target="#myModal" href="#" ></a>  <!-- WORK AROUND REMOVE LINK TEXT -->

    <!-- MODAL -->
    <div class="modal" id="myModal">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">CFTS Contact Information</h5>
            <button class="close" data-dismiss="modal">&times;</button>
          </div>
          <div class="modal-body">
             You can contact the CFTS team via: <br>
             Email: centcom.macdill.centcom-hq.mbx.combined-im@mail.smil.mil <br>
             Phone: (813) 529-3700, 3752, 3718, 3673 or 3477
          </div>
          <div class="modal-footer">
            <button class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>


    <br>
    <br>


     
<!--FIXED BOTTOM IS CAUSING THE ISSUE SO FAR-->
    <section id="contact" class="bg-light py-4 fixed-bottom">
        <div class="container">
            <!-- MODAL TRIGGER -->
          <ul class="nav justify-content-end">
            <li class="nav-item">
              <a class="nav-link active" href="#" data-toggle="modal" data-target="#myModal" >Contact Us</a>
            </li>
          </ul>

            <!-- MODAL -->
            <div class="modal" id="myModalClone">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title">CFTS Contact Information</h5>
                    <button class="close" data-dismiss="modal">&times;</button>
                  </div>
                  <div class="modal-body">
                    This is not being called
                  </div>
                  <div class="modal-footer">
                    <button class="btn btn-secondary" data-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>
            </div>
        </div>
    </section>

  </div>