<!-- ########################   Contact Us Footer Starts Here   ######################### -->
<!-- MODAL -->
<div class="modal" id="contactUs">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">CFTS Contact Information</h5>
                <button class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                You can contact the CFTS team via: <br />
                Email: centcom.macdill.centcom-hq.mbx.combined-im@mail.smil.mil <br />
                Commercial Phone: (813) 529-DTOS (3867), 3673, 3700, 3752, 3718, or
                3477<br />
                <br />
                NOTE: Please send emails unencrypted or the team may be unable to open
                them
                <br /><br />
                You can also use the "Submit Feedback" at the top of the page to
                inform the admins of bugs and leave feedback about CFTS.
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<section id="contact" class="bg-light mt-3 py-3">
    <div class="container">
        <!-- MODAL TRIGGER -->
        <ul class="nav justify-content-end">
            <li class="nav-item">
                <a class="nav-link active" href="#" data-toggle="modal" data-target="#contactUs">Contact Us</a>
            </li>
        </ul>
    </div>
</section>