{% load static %}

<!--############################## NAVBAR ##############################-->
<nav class="navbar navbar-expand-md navbar-light fixed-top py-4">
  <!-- NAV, Changes at Med screen, light color, fixed top, padding of 4 -->
  <div class="container">
    <!-- WRAPS ALL THE DIVS FOR CORRECT SPACING -->
    <a href="{% url 'index' %}" class="navbar-brand">
      <!-- NAV LOGO -->
      <img src="{% static 'img/logo_temp.png' %}" width="50" height="50" alt="" />
      <h3 class="d-inline align-middle">CFTS</h3>
    </a>
    <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
      <!-- COLLAPSE NAV LINKS INTO HAMBURGER ICON -->
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a href="{% url 'index' %}" class="nav-link">Home</a>
        </li>
        <li class="nav-item">
          <a href="{% url 'urlShortner' %}" class="nav-link">URL Shortner</a>
        </li>
        <li class="nav-item dropdown">
          <!--DROP DOWN STARTS HERE FOR NAV-->
          <a
            class="nav-link dropdown-toggle"
            href="#"
            role="button"
            id="dropdownMenuLink"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            Resources
          </a>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <a class="dropdown-item" href="{% url 'downloads' 'testfile1.txt' %}" download="Tetragraph">Tetragraph</a>
            <a class="dropdown-item" href="{% url 'downloads' 'testfile2.txt' %}" download="Cross Domain User Guide">Cross Domain User Guide</a>
            <a class="dropdown-item" href="{% url 'downloads' 'testfile3.txt' %}" download="DoDIIS One-way Transfer">DoDIIS One-way Transfer</a>
          </div>
        </li>
        {% if user.is_authenticated %}
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            role="button"
            id="dropdownMenuLink"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
            >Analysts</a
          >
          <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <a class="dropdown-item" href="{% url 'queue' %}">Transfer Queue</a>
            <a class="dropdown-item" href="{% url 'pulls' %}">Pulls History</a>
            <a class="dropdown-item" href="{% url 'archive' %}">Transfers Archive</a>
            <a class="dropdown-item" href="{% url 'reports' %}">Reporting</a>
          </div>
        </li>
        {% else %}
        <li class="nav-item">
          <a href="{% url 'queue' %}" class="nav-link">Analyst Login</a>
        </li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>
<!--############################## END NAV BAR ##############################-->
