{% load static %}

<!--############################## NAVBAR ##############################-->
<nav class="navbar navbar-expand-md navbar-light fixed-top py-4">
    <!-- NAV, Changes at Med screen, light color, fixed top, padding of 4 -->
    <div class="container">
        <!-- WRAPS ALL THE DIVS FOR CORRECT SPACING -->
        <a href="{% url 'index' %}" class="navbar-brand">
            <!-- NAV LOGO -->
            <img src="{% static 'img/logo_temp.png' %}" width="50" height="50" alt="" />
            <h3 class="d-inline align-middle">Combined File Transfer Service</h3>
        </a>
        <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
            <!-- COLLAPSE NAV LINKS INTO HAMBURGER ICON -->
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a href="{% url 'index' %}" class="nav-link">Home</a>
                </li>

                <li class="nav-item dropdown">
                    <!--DROP DOWN STARTS HERE FOR NAV-->
                    <a class="nav-link dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Resources
                    </a>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                        {% for resource in rc.resources %}
                            {% if resource.file_name|length > 0 %}
                                <a class="dropdown-item" href="{% url 'resources' resource.file_name %}">{{ resource.name }}</a>
                            {% elif resource.url_path|length > 0 %}
                                <a class="dropdown-item" href="{{ resource.url_path }}">{{ resource.name }}</a>
                            {% else %}
                                <a class="dropdown-item" href="#">{{ resource.name }}</a>
                            {% endif %}
                        {% empty %}
                            {% for resource in resources %}
                                {% if resource.file_name|length > 0 %}
                                    <a class="dropdown-item" href="{% url 'resources' resource.file_name %}">{{ resource.name }}</a>
                                {% elif resource.url_path|length > 0 %}
                                    <a class="dropdown-item" href="{{ resource.url_path }}">{{ resource.name }}</a>
                                {% else %}
                                    <a class="dropdown-item" href="#">{{ resource.name }}</a>
                                {% endif %}
                            {% endfor %}
                        {% endfor %}
                    </div>
                </li>

                <li class="nav-item">
                    <a href="{% url 'feedback' %}" class="nav-link">Submit Feedback</a>
                </li>

                {% if user.is_authenticated %}

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{ user }}</a>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                            {% if user.is_staff %}
                                <a class="dropdown-item" href="{% url 'queue' %}">Transfer Queue</a>
                                {% comment %} <a class="dropdown-item" href="{% url 'scan' 'none' %}">Scan Tool</a> {% endcomment %}
                                <a class="dropdown-item" href="{% url 'pulls' %}">Pulls History</a>
                                <a class="dropdown-item" href="{% url 'archive' %}">Transfers Archive</a>
                                <a class="dropdown-item" href="{% url 'reports' %}">Reporting</a>
                                <a class="dropdown-item" href="{% url 'admin:index' %}">Admin Page</a>
                                {% if user.is_superuser%}
                                    <a class="dropdown-item" href="{% url 'password-reset-admin' %}">Password Reset Admin</a>
                                {% endif %}
                                <hr class="mt-2 mb-2" style="border-top-width: 3px; border-top-color: rgba(0, 0, 0, 0.2);" />
                            {% endif %}
                            <a class="dropdown-item" href="{% url 'userRequests' %}">My Requests</a>
                            <a class="dropdown-item" href="{% url 'user-info' %}">Edit Account Info</a>
                            <a class="dropdown-item" href="{% url 'password-change' %}">Change Password</a>
                            <a class="dropdown-item" href="{% url 'logout' %}">Logout</a>
                        </div>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a href="{% url 'login' %}" class="nav-link">Login</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
<!--############################## END NAV BAR ##############################-->
