<div id="fileinfo-form" title="Additional File Information">
  <h3></h3>
  <form>
      <h5>What is the classification of this file?</h5>
      <div class="form-group input-group">
          <select name="classification" class="form-control" required>
              <option value=""></option>
              <option value="U">UNCLASSIFIED</option>
              <option value="FOUO">UNCLASSIFIED/FOR OFFICIAL USE ONLY</option>              
              <option value="C-REL">CONFIDENTIAL//RELEASABLE</option>
              <option value="C">CONFIDENTIAL</option>
              <option value="S-REL">SECRET//RELEASABLE</option>
          </select>
          <span class="w-100"></span>
          <small id="classificationHelp" class="form-text text-muted">NOTE: Files that contain no releasable markings (i.e. REL TO) are US ONLY and cannot be transfered to partner networks.</small>
    </div>
    <h5 class="text-gray-dark text-center">Does this file contain either of the following?</h5>
    <div style="display: grid; grid-template-columns: 33% 67%;">
        <div class="custom-control custom-checkbox custom-control-inline">
            <input type="checkbox" id="isPII" name="isPII" class="custom-control-input">
            <label class="custom-control-label" for="isPII">PII</label>
          </div>
          <div class="custom-control custom-checkbox custom-control-inline">
            <input type="checkbox" id="isCENTCOM" name="isCENTCOM" class="custom-control-input">
            <label class="custom-control-label" for="isCENTCOM">CENTCOM Information</label>
          </div>
    </div>
  </form>
</div>
