{% extends 'base.html' %}
{% load static %}

{% block content %}
{% load crispy_forms_tags %}
<link rel="stylesheet" href="{% static 'css/authForms.css' %}" />

<div class="container py-5">
    <h1>Update Account Info</h1>
    <form class="needs-validation" method="post" novalidate>
        {% csrf_token %}
        {% crispy userInfoForm %}
        {% comment %} <button type="submit" class="btn btn-success">Save</button> {% endcomment %}
    </form>
</div>

<script>window.document.title = "Update Account Info"</script>
<script src="{% static 'js/form-validate.js' %}"></script>
{% endblock %}