{% extends 'base.html' %}
{% load static %}
{% load util %}

{% block content %}
    <link rel="stylesheet" href="{% static 'css/archive.css' %}">

    <div class="container" style="margin-top: 200px;">
        <!-- search form -->

        <!-- search by date -->

        <!-- filter inputs -->
        <table class="data-table">
            <tr>
                <td colspan="6"><span>Filter by:</span></td>
            </tr>
            <form id="filter-fields">
                {% csrf_token %}
                <tr>
                    <td class="form-group">
                        <input type="text" class="form-control filter" name="filterUserLast" placeholder="Last Name" />
                    </td>
                    <td class="form-group">
                        <input type="text" class="form-control filter" name="filterUserFirst" placeholder="First Name" />
                    </td>
                    <td class="form-group">
                        <input type="text" class="form-control filter datepicker" name="filterDate" placeholder="Date" />
                    </td>
                    <td class="form-group">
                        <select class="form-control filter" name="filterNet">
                            <option value="">Network</option>
                            {% for net in rc.networks %}
                                <option>{{ net }}</option>
                            {% endfor %}
                        </select>
                    </td>
                    <td class="form-group">
                        <input type="text" class="form-control filter" name="filterFiles" placeholder="Filename" />
                    </td>
                    <td class="form-group">
                        <input type="text" class="form-control filter" name="filterEmail" placeholder="Email" />
                    </td>
                    <td class="form-group">
                        <input type="text" class="form-control filter" name="filterPull" placeholder="Pull" />
                    </td>
                    <td class="form-group">
                        <input type="text" class="form-control filter" name="filterOrg" placeholder="Org" />
                    </td>
                    <td class="form-group">
                        <a href="#" id="submit-button" class="form-control btn btn-success" name="filterSubmit">Submit</a>
                    </td>
                </tr>
            </form>
        </table>

        <table id="templateTable">
            {% include 'partials/Archive_partials/archiveResults.html' with rc=rc %}
        </table>

    </div>

    <div id="user-modal" class="modal" title="User Info">
        <ul>
            <li class="form-group">
                <label for="name">Name</label>
                <span class="form-control" id="name"></span>
            </li>
            <li class="form-group">
                <label for="email">Email</label>
                <span class="form-control" id="email"></span>
            </li>
            <li class="form-group">
                <label for="notes">Notes</label>
                <span class="form-control" id="notes"></span>
            </li>
        </ul>
    </div>
    <script src="{% static 'js/archive.js' %}"></script>
{% endblock %}
