{% extends 'base.html' %}
{% load static %}
{% load util %}

{% block content %}
    <link rel="stylesheet" href="{% static 'css/drop-zone.css' %}">
    <link rel="stylesheet" href="{% static 'css/passwordResetAdmin.css' %}">

    <div class="container drop-container pt-3">
        <div class="upload-console-drop empty" id="drop-zone">
            {% csrf_token %}
            Drag and drop Pull Zip here, or click to upload <input type="file" class="" name="dropZip" id="uploadButton" style="display: none;">
        </div>
        <table class="data-table">
            <tr>
                <th >Email</th>
                <th >Date</th>
                <th class="pl-4">Files</th>
                {% if debug %}
                    <th >Request PIN</th>
                {% endif %}
                <th >Email Sent</th>
                <th >User Retrieved</th>
                <th >Generate Request Email</th>
            </tr>
            {% for rqst in dropRequests %}
                <tr class="data-row">
                    <td class="xfer-Email "><a href="/drop/{{rqst.request_id}}">{{ rqst.target_email }}</a></td>
                    <td class="xfer-create ">{{rqst.date_created.date}}</td>
                    <td class="xfer-files">
                        <ul class="file-list">
                            {%  for f in rqst.files.all %}
                                <li  x-file-name="{{ f.file_name }}">{{f.file_name}}</li>
                            {% endfor %}
                        </ul>
                    </td>
                    {% if debug %}
                        <td class="xfer-PIN">{{rqst.request_code}}</td>
                    {% endif %}
                    <td class="xfer-Completed text-center">
                        {% if rqst.email_sent == True %}
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#28a745" class="bi bi-check-circle-fill" viewBox="0 0 16 16">
                                <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z" />
                            </svg>
                        {% else %}
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#dc3545" class="bi bi-x-circle-fill" viewBox="0 0 16 16">
                                <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.354 4.646a.5.5 0 1 0-.708.708L7.293 8l-2.647 2.646a.5.5 0 0 0 .708.708L8 8.707l2.646 2.647a.5.5 0 0 0 .708-.708L8.707 8l2.647-2.646a.5.5 0 0 0-.708-.708L8 7.293 5.354 4.646z" />
                            </svg>
                        {% endif %}</td>
                    <td class="xfer-Completed text-center">
                        {% if rqst.user_retrieved == True %}
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#28a745" class="bi bi-check-circle-fill" viewBox="0 0 16 16">
                                <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z" />
                            </svg>
                        {% else %}
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#dc3545" class="bi bi-x-circle-fill" viewBox="0 0 16 16">
                                <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.354 4.646a.5.5 0 1 0-.708.708L7.293 8l-2.647 2.646a.5.5 0 0 0 .708.708L8 8.707l2.646 2.647a.5.5 0 0 0 .708-.708L8.707 8l2.647-2.646a.5.5 0 0 0-.708-.708L8 7.293 5.354 4.646z" />
                            </svg>
                        {% endif %}</td>
                    <td class="xfer-Generate text-right"><a href="/generate-drop-email/{{rqst.request_id}}" class="btn btn-primary generateButton" request={{rqst.request_id}} >Generate Email</a></td>
                </tr>
            {% endfor %}
            <tr>
                <td colspan="7">
                    <div class="pagination">
                        <span class="step-links">
                            {% if dropRequests.has_previous %}
                                <a href="?page=1">&laquo; first</a>
                                <a href="?page={{ dropRequests.previous_page_number }}">previous</a>
                            {% endif %}
                            {% if dropRequests.has_next %}
                                <span class="current">
                                    Page {{ dropRequests.number }} of {{ dropRequests.paginator.num_pages }}.
                                </span>


                                <a href="?page={{ dropRequests.next_page_number }}">next</a>
                                <a href="?page={{ dropRequests.paginator.num_pages }}">last &raquo;</a>
                            {% endif %}
                        </span>
                    </div>
                </td>
            </tr>
        </table>
    </div>

    <script src="{% static 'js/drop-zone.js' %}"></script>
{% endblock %}
