{% extends 'base.html' %}
{% load static %}
{% load util %}

{% block content %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/requestDetails.css' %}">

    {% if status == "authorized" %}
        <div class="container details-container mt-3">
            <table class="data-table">
                <a type="button" class="btn btn-primary btn-download mb-3 text-white"  data-bs-toggle="modal" data-bs-target="#passphraseModal"  download="CFTS_Files.zip">Download files</a>

                <!-- Modal -->
                <div class="modal fade" id="passphraseModal" tabindex="-1" role="dialog" aria-labelledby="passphraseModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-lg" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="passphraseModalLabel">Enter Decryption Phrase From Email</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <input type="text"  class="form-control" name="passphraseInput" id="passphraseInput" placeholder="Decryption Phrase">
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                                <button type="button" id="passphraseSubmit" class="btn btn-primary" data-bs-dismiss="modal">Submit</button>
                            </div>
                        </div>
                    </div>
                </div>
                <tr>
                    <th>Email</th> <!-- add filter by user -->
                    <th>Avalible Until</th>
                    <th>Files</th>
                </tr>
                <tr class="data-row">
                    <td class="xfer-user">{{drop.target_email}}</td>
                    <td class="xfer-date">{{ drop.delete_on|date:"m/d/Y  Hi" }}</td>
                    <td class="xfer-files">
                        <ul class="file-list">
                            {%  for f in drop.files.all %}
                                <li class="" x-file-name="{{ f.file_name }}">{{f.file_name}}</li>
                            {% endfor %}
                        </ul>
                    </td>
                </tr>
            </table>
        </div> <!-- END container -->
    {% elif status == "prompt" %}
        <div class="container details-container" style="margin-top: 15rem;" >
            <h3>Enter Request Code From Email</h3>
            <div class="input-group mb-3">
                <input type="text" class="form-control" id="codeInput" placeholder="Request Code" aria-label="Recipient's username" aria-describedby="basic-addon2">
                <button class="btn btn-success" type="button" id="codeSubmit">Submit</button>
            </div>
        </div> <!-- END container -->
    {% endif %}

    <script>
        window.document.title = "Drop Details"
        var authStatus = "{{status}}";
        var dropID = "{{drop.request_id}}";
    </script>
    <script src="{% static 'js/dropDetails.js' %}"></script>

{% endblock  %}
