{% extends 'base.html' %}
<!-- view wrapper -->
{% load static %} {% block content %}
<!-- begin content block variable -->
<link rel="stylesheet" href="{% static 'css/frontend.css' %}" />


<!--Cards Start Here -->
<section id="boxes" class="">

  <div class="container">
    {% if rc.browser == "IE"%}
      <div class="alert alert-danger browser-notif" role="alert">This service <a class="alert-link">does not</a> support Internet Explorer. Please use Microsoft Edge, Google Chrome, or Firefox to utilize CFTS.</div>
    {% elif rc.user.banned %}
      {% if rc.user.strikes != 4%}
        <div class="alert alert-danger banned-notif" role="alert">Repeated policy violations have resulted in you losing access to the Combined File Transfer Service. You will regain access to this service on {{rc.user.banned_until}}</div>
      {% else %}
        <div class="alert alert-danger banned-notif" role="alert">Repeated policy violations have resulted in you losing access to the Combined File Transfer Service permanently.</div>
      {% endif %}

    {% elif rc.submission_disabled == True %}
      <div class="alert alert-info" role="alert">The Combined File Transfer Service is currently undergoing maintenance, file submissions have been temporarily disabled.</div>
    {% else %}
      <div class="alert alert-warning encrypt-notif" role="alert">Please review the <a class="alert-link" href="{% url 'resources' "Combined_File_Transfer_Service_Policies.pdf" %}">CFTS Policies</a> before submitting your request. If your files contain CUI, PII, or PHI please mark them for encryption.</div>
      
      <div class="alert alert-danger fadein server-error" style="display: none;" role="alert"></div>

      <div class="alert alert-danger fadein danger-error" style="display: none;" role="alert"></div>
    
      <div class="alert alert-danger fadein file-error" style="display: none;" role="alert"></div>
    
      <div class="alert alert-success fadein" style="display: none;" role="alert"></div>
    
      <form action="#" id="transfer-request-form" method="post" enctype="multipart/form-data" novalidate="true">
        {% csrf_token %}
        <div class="row" id="form-row">
          <!-- Email -->
          <div class="col-lg-4">
            <div class="card text-center border-secondary mb-resp bg-light">
              <div class="card-body">
                <h3 class="text-gray-dark">User Information</h3>
                <div class="form-group input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="firstNameRequired">*</span>
                  </div>
                  <input type="text" class="form-control" name="firstName" id="firstName" placeholder= "First Name" readonly/>
                </div>
                <div class="form-group input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="lastNameRequired">*</span>
                  </div>
                  <input type="text" class="form-control" name="lastName" id="lastName" placeholder="Last Name" readonly/>
                </div>
                <div class="form-group input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="userEmailRequired">*</span>
                  </div>
                  <input
                    type="email"
                    class="form-control"
                    name="userEmail"
                    id="userEmail"
                    aria-describedby="userEmailHelp userEmailRequired"
                    placeholder="Email Address"
                    required
                    readonly
                  />
                  <span class="w-100"></span>
                </div>
                
                <div class="form-group input-group ">
                  <div class="input-group-prepend">
                    <span class="input-group-text">*</span>
                  </div>
                  <input type="text" class="form-control" name="userPhone" id="userPhone"
                  aria-describedby="userPhoneHelp userPhoneRequired" placeholder="Phone Number" readonly>
                </div>
                
                <h6 class="form-text isCentcom mb-3">Organization:</h6>
                <div class="form-group input-group ">
                  <div class="input-group-prepend">
                    <span class="input-group-text">*</span>
                  </div>
                  <input type="text" class="form-control" name="organization" id="organization" placeholder="organization" readonly>
                </div>

                <div class="form-group">
                  <input type="text" class="form-control" name="userID" id="userID"  hidden/>
                </div>

                <!-- Drag and Drop-->
                <h3 class="text-gray-dark text-center">Add Files To Queue</h3>
                <div class="upload-console">
                  <div class="upload-console-body">
                    <div class="form-group">
                      <!-- Added DIV to add margin to btn -->
                      <label for="standard-upload-files" class="btn btn-success"
                        >Upload Files
                        <input type="file" name="files[]" id="standard-upload-files" multiple />
                      </label>
                    </div>

                    <div class="upload-console-drop empty" id="drop-zone">
                      Drag and drop files here
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- Request Queue -->
          <div class="col-lg-4">
            <div class="card border-secondary mb-resp bg-light">
              <div class="card-body">
                <h3 class="text-gray-dark text-center">Request Queue</h3>
                <div class="file-list init">
                  <span>No files in queue.</span>
                  <small>Use the button to the left or drag and drop files into the indicated area.</small>
                </div>
              </div>
            </div>
          </div>

          <!--Choose Network-->
          <div class="col-lg-4">
            <div class="card text-center border-secondary mb-resp bg-light">
              <div class="card-body">
                <h3 class="text-gray-dark">Transfer To</h3>
                {% if rc.networks.items|length > 0%}
                  <div style="display: grid; grid-template-columns: 50% 50%;">
                    {% for net, email in rc.networks.items %}
                    <div class="custom-control custom-switch text-left" style="margin: 0.5em 0;">
                      <input type="radio" name="network" class="custom-control-input network-switch" id="switch{{ net }}" value="{{ net }}" email="{{ email }}"/>
                      <label class="custom-control-label" for="switch{{ net }}">{{ net }}</label>
                    </div>
                    {% endfor %}
                  </div>
                {% else %}
                  <h6 class="text-gray-dark">To add destination networks, save valid emails <a href="{% url 'user-info' %}">here</a></h6>
                {% endif %}

                
                <h3 class="text-gray-dark">Destination Email</h3>
                <div class="form-group input-group" id="targetEmailGroup">
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="targetEmailRequired">*</span>
                  </div>
                  <input
                    type="email"
                    class="form-control"
                    name="targetEmail"
                    id="targetEmail"
                    aria-describedby="targetEmailHelp targetEmailRequired"
                    placeholder="Email Address"
                    required
                    readonly
                  />
                  <span class="w-100"></span>
                  <small id="targetEmailHelp" class="form-text text-muted">on the target network</small>              
                </div>
          
                {% comment %} <h3 class="text-gray-dark">Comments</h3>
                <div class="form-group">
                  <textarea class="form-control" name="comments" id="comments" placeholder="250 characters or less"></textarea>
      <textarea class="form-control" name="PKIinfo" id="PKIinfo" placeholder="PKI debug information" hidden>{{rc.cert}}</textarea>
                </div> {% endcomment %}
              </div>
            </div>
          </div>
        </div>
        <!-- end #form-row -->

        <div class="row" id="button-row">
          <div class="col-md-4"></div>
          <div class="col-md-4 mt-3 text-center">
            <button class="btn btn-secondary btn-block" id="submitButton" role="button" {% if rc.userBanned or rc.networks.items|length == 0 %}disabled{% endif %}>Submit</button>
          </div>
          <div class="col-md-4"></div>
        </div>
        <!-- end #button-row -->
      </form>
    {% endif %}
  </div>
  <!-- end .container -->
</section>

<script> 
  var firstName = "{{rc.user.name_first}}";
  var lastName = "{{rc.user.name_last}}";
  var email = "{{rc.user.source_email}}";
  var phone = "{{rc.user.phone}}";
  var org = "{{rc.user.org}}";
  var userBanned = "{{rc.userBanned}}";
  var debug = "{{rc.debug}}"
</script>
<script src="{% static 'js/notification.js' %}"></script>
<script src="{% static 'js/frontend.js' %}"></script>
<script src="{% static 'js/process.js' %}"></script>
{% endblock %}
<!-- end content block variable -->
