{% extends 'base.html' %}
{% load static %}
{% load util %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/pulls.css' %}">

<div class="grid-container" style="grid-template-columns: 5% repeat( {{ rc.pull_history|length }}, 1fr [col-start]) 5%;">
  <div><!-- spacer --></div>  
{% for net in rc.pull_history %}
  <ul class="grid-column" style="grid-column: {{ forloop.counter|add:1 }}">
  {% for pull in net %}
    {% if forloop.counter0 == 0 %}<h3 class="grid-column-header">{{ pull.pull_network }}</h3>{% endif %}
    <li class="{% if pull.date_complete != None %}is-done{% elif pull.date_twoeye != None %}to-complete{% elif pull.date_oneeye != None %}to-twoeye{% endif %} {% if pull.centcom_pull %}centcom{% endif %}">

      <ul>
        <li class="title-line"><strong>{{ pull.pull_network }}_{{ pull.pull_number }} {% if pull.centcom_pull %}Centcom Only{% endif %}</strong></li>
        <li class="title-line status-imgs">
        {% if  pull.date_oneeye != None %}<img src="{% static 'img/asset 13.svg' %}" class="status-img" alt="One Eye" />{% endif %}      
        {% if pull.date_twoeye != None %}<img src="{% static 'img/asset 13.svg' %}" class="status-img" alt="Two Eye" />{% endif %}  
        {% if pull.date_complete != None %}<img src="{% static 'img/asset 14.svg' %}" class="status-img" alt="Burned to Disk" />{% endif %}
        </li>
        <li>{{ pull.pull_date }}</li>
        <li>{{ pull.pull_user }}</li>
      </ul>

      <button class="pull-menu-btn">&hellip;</button>
      <!-- TODO: remove this from the flow of the document -->
      <ul class="pull-menu">
        <li class="pull-menu-option download"><a href="{% static 'files/' %}{{pull.pull_network}}_{{pull.pull_number}}.zip">Download Again</a></li>
        {% if pull.date_oneeye == None %}
        <li class="pull-menu-option"><a href="{{pull.pull_id}}" class="oneeye">One-eye Complete</a></li>
        {% elif pull.date_twoeye == None %}
        <li class="pull-menu-option complete"><del>One-eye Complete</del></li>
        <li class="pull-menu-option"><a href="{{pull.pull_id}}" class="twoeye">Two-eye Complete</a></li>
        {% elif pull.date_complete == None %}
        <li class="pull-menu-option complete"><del>One-eye Complete</del></li>
        <li class="pull-menu-option complete"><del>Two-eye Complete</del></li>
        <li class="pull-menu-option"><a href="{{pull.pull_id}}" class="done">Transfer Complete</a></li>
        {% endif %}
      </ul>
      <!-- END TODO -->
    </li>
  {% endfor %}
  </ul>
{% endfor %}
  <div><!-- spacer --></div>  
</div>

<script src="{% static 'js/pulls.js' %}"></script>
{% endblock %}
    