{% load static %} <!-- Has to load first to use static helper -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/styleAdmin.css' %}">    
    <link rel="stylesheet" href="{% static 'css/ddGlobal.css' %}"> <!-- DD CSS -->

    <link rel="stylesheet" href="{% static 'css/pulls.css' %}">
    <title>CFTS</title>
</head>
<body>

    <!-- Navbar -->
    {% include 'partials/_navbarAdmin.html' %}

    <div class="make-it-red">{{ rc.bodyText }}</div>

    {% include 'partials/_footerAdmin.html' %}

    <script src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.js' %}"></script>

    <script src="{% static 'js/pulls.js' %}"></script>
</body>

</html>