{% extends 'base.html' %}
{% load static %}
{% load util %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/pulls.css' %}">

<div class="grid-container" style="grid-template-columns: 5% repeat( {{ rc.pull_history|length }}, 1fr [col-start]) 5%;">
  <div><!-- spacer --></div>  
{% for net in rc.pull_history %}
  <ul class="grid-column" style="grid-column: {{ forloop.counter|add:1 }}">
  {% for pull in net %}
    {% if forloop.counter0 == 0 %}<h3 class="grid-column-header">{{ pull.pull_network }}</h3>{% endif %}
    <li class="pull-card {% if pull.date_complete != None %}is-done{% elif pull.date_twoeye != None %}to-complete{% elif pull.date_oneeye != None %}to-twoeye{% endif %} {% if pull.centcom_pull %}centcom{% endif %}" pull_id="{{pull.pull_id}}">

      <ul>
        <li class="title-line"><strong>{{ pull.pull_network }}_{{ pull.pull_number }} {% if pull.centcom_pull %}</br>Centcom Only{% endif %}</strong></li>
        <li class="title-line status-imgs {% if pull.date_complete != None %}is-done{% elif pull.date_twoeye != None %}to-complete{% elif pull.date_oneeye != None %}to-twoeye{% endif %}">
          <img src="{% if  pull.date_oneeye != None %}{% static 'img/asset_13.svg' %}{% else %}{% static 'img/transparent.png' %}{% endif %}" class="status-img" alt="One Eye" />    
          <img src="{% if  pull.date_twoeye != None %}{% static 'img/asset_13.svg' %}{% else %}{% static 'img/transparent.png' %}{% endif %}" class="status-img" alt="Two Eye" />
          <img src="{% if  pull.date_complete != None %}{% static 'img/asset_14.svg' %}{% else %}{% static 'img/transparent.png' %}{% endif %}" class="status-img" alt="Burned to Disk #{{pull.disk_number}}" />
        </li>

        <li>Pulled by {{pull.pull_user}} on {{pull.pull_date}} </li>
        {% if pull.date_oneeye != None %}
          <li>One eyed by {{pull.user_oneeye}} on {{pull.date_oneeye}}</li>
        {% endif %}

        {% if pull.date_twoeye != None %}
          <li>Two eyed by {{pull.user_twoeye}} on {{pull.date_twoeye}}</li>
        {% endif %}

        {% if pull.date_complete != None %}
          <li>Completed by {{pull.user_complete}} on {{pull.date_complete}}</li>
	        <li>Burned to disk #{{pull.disk_number}}</li>
        {% endif %}
      </ul>

      <button class="pull-menu-btn" >&hellip;</button>
      <!-- TODO: remove this from the flow of the document -->
      <ul class="pull-menu" pull_id="{{pull.pull_id}}">
        <li class="pull-menu-option highlight"><a href="getPull/{{pull.pull_network}}_{{pull.pull_number}} {{pull.pull_date|date:"dM"}} {{pull.pull_date|time:"Hi"}}.zip">Download Again</a></li>
        <li class="pull-menu-option highlight"><a href="scan/{{pull.pull_network}}_{{pull.pull_number}} {{pull.pull_date|date:"dM"}} {{pull.pull_date|time:"Hi"}}.zip">Scan Pull</a></li>
        {% if pull.date_complete == None %}<li class="pull-menu-option highlight"><a href="cancelPull/{{pull.pull_id}}">Cancel Pull</a></li>{% endif %}
        {% if pull.date_oneeye == None %}
        <li class="pull-menu-option"><a href="{{pull.pull_id}}" class="oneeye">One-eye Complete</a></li>
        {% elif pull.date_twoeye == None %}
        <li class="pull-menu-option complete"><del>One-eye Complete</del></li>
        <li class="pull-menu-option"><a href="{{pull.pull_id}}" class="twoeye">Two-eye Complete</a></li>
        {% elif pull.date_complete == None %}
        <li class="pull-menu-option complete"><del>One-eye Complete</del></li>
        <li class="pull-menu-option complete"><del>Two-eye Complete</del></li>
        <li class="pull-menu-option"><a href="{{pull.pull_id}}" class="done">Transfer Complete</a></li>
        {% endif %}
      </ul>
      <!-- END TODO -->
    </li>
  {% endfor %}
  </ul>
{% endfor %}
  <div><!-- spacer --></div>  
</div>

<script src="{% static 'js/pulls.js' %}"></script>
{% endblock %}
    