{% extends 'base.html' %}
{% load static %}
{% load util %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/queue.css' %}">    

<!--  To make the tabs toggleable, add the data-toggle="tab" attribute to each link. Then add a .tab-pane class with a unique ID for every tab and wrap them inside a div element with class .tab-content.  -->
<div class="container" style="margin-top: 200px;">
    <div class="card">
        <div class="card-header">

            <ul class="nav nav-tabs mt-5">
            {% for network in rc.queues %}
                <li class="nav-item{% if network.count == 0 %} disabled{% endif %}">
                    <a class="nav-link{% if forloop.counter0 == 0 %} active{% endif %}"
                    {% if network.count != 0 %} 
                        data-toggle="tab" 
                        href="#tab{{ network.name }}"
                    {% endif %}>
                        {{ network.name }}
                    </a>
                </li>
            {% endfor %}
            </ul>

            <div class="tab-content">
            {% for network in rc.queues %}
                <div id="tab{{ network.name }}" class="tab-pane container{% if forloop.counter0 == 0 %} active{% else %} fade{% endif %}">
                {% if network.count == 0 %}
                    {{ rc.empty }}
                {% else %}
                    <div class="network-header">
                        
                        <div class="pending-info">
                            Pending Requests: {{ network.pending.count }} ({{network.file_count.files_in_dataset}} Files)
                            <br />
                            {% for lp in network.last_pull %}
                            <span class="last-pull-info">Last pull created: 
                                <span class="date-pulled">
                                    {{ lp.date_pulled|date:'db'|upper }} @ {{ lp.date_pulled|time:'Hi' }}
                                </span> 
                                by <span class="user-pulled">
                                    {{ lp.user_pulled__username }}
                                </span>
                            </span>
                            {% endfor %}
                        </div>
                        <div class="create-pull">
                            <button class="btn btn-primary pull-button{% if network.pending.count == 0 %} disabled{% endif %}" id="pull{{network.name}}">Create {{ network.name }} Pull</button>                                 
                        </div>
                        {% if network.last_pull.count > 0 %}
                            {% for lp in network.last_pull %}
                            <div class="download-block">
                                <a class="btn btn-primary download-button" id="dl{{network.name}}"
                                    href="/static/files/{{ network.name }}_{{ lp.pull_number }}.zip">Download Current {{ network.name }} Zip</a>
                                </div>
                                {% endfor %}
                        {% else %}
                        <div class="download-block">
                            <a class="btn btn-primary download-button" id="dl{{network.name}}" href="#" hidden></a>
                        </div>
                        {% endif %}
                        
                    </div>

                    <form class="queue-form">
                    <table width="100%" border="0" cellpadding="5" cellspacing="5">
                        <colgroup>
                            <col width="20%" />
                            <col />
                            <col width="20%" />
                        </colgroup>
                        {% for request in network.q %}
                        <tr class="request-header{% if request.pull != None %} pending{% endif %}">
                            <td><a href="{% url 'transfer-request' id=request.request_id %}">{{ request.user }}</a></td> <!-- link to request view -->
                            <td{% if request.comments != None %} class="request-comments"> <a href="#" class="btn btn-primary comments">Show/Hide Comments</a> {% else %}>{% endif %}</td>
                            <td class="request-submitted">Submitted: {{ request.date_created|date:'db'|upper }} @ {{ request.date_created|time:'Hi' }}</td>
                        </tr>
                        {% if request.comments != None %}
                        <tr class="request-header{% if request.pull != None %} pending{% endif %}">
                            <td colspan="3" class="comments-text"><div>{{ request.comments|linebreaksbr }}</div></td>
                        </tr>
                        {% endif %}
                        {% for file in request.files.all %}
                        <tr class="{% if request.pull != None %}pending {% endif %}{% if file.rejection_reason != None %}rejected {% endif %}">
                            <td>
                                <input type="checkbox" name="fileSelection" id="chk_{{ file.file_id }}" request_id="{{ request.request_id }}" request_email="{{ request.user.email }}" file_name="{{ file }}" />
                                <button class="btn btn-danger btn-reject" id="btn_{{ file.file_id }}" request_id="{{ request.request_id }}" request_email="{{ request.user.email }}" file_name="{{ file }}">Reject</button>
                                <!-- Show encrypt flag? -->
                                {% if file.is_pii or file.is_centcom_info %}
                                <span title="PII: {{ file.is_pii }}&#10;CENTCOM Info: {{ file.is_centcom_info }}">🔒</span>
                                {% endif %}
                            </td>
                            <td colspan="2"><span title="{{ file }}">{{ file|truncatechars:50 }}</span></td>
                        </tr>
                        {% endfor %}
                        <!-- end files -->
                        {% if not forloop.last %}<tr class="spacing"><td colspan="3">&nbsp;</td></tr>{% endif %}
                        {% endfor %}
                        <!-- end requests -->
                    </table>
                    </form>

                    <!-- delete selected button -->
                    <button class="btn btn-danger btn-reject-selected">Reject All Selected</button>

                {% endif %}
                </div>
            {% endfor %}
            </div>

        </div> <!-- END card-header -->
    </div><!-- END card -->
</div> <!-- END container -->

<div id="reject-form" title="Reject File(s)">
    <form>
        <div class="form-group">
            <label for="reason">Rejection Reason: </label>
            <select name="reason" class="form-control">
                <option value=""></option>
                {% for r in rc.rejections %}
                <option value="{{ r.rejection_id }}" data-subject="{{ r.subject }}" data-text="{{ r.text }}">{{ r.name }}</option>
                {% endfor %}
            </select>
        </div>
    </form>
</div>

{% include 'partials/_forceReloadForm.html' %}

<script src="{% static 'js/queue.js' %}"></script>
{% endblock %}
    