{% extends 'base.html' %}
{% load static %}
{% load util %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/queue.css' %}">    

<!--  To make the tabs toggleable, add the data-toggle="tab" attribute to each link. Then add a .tab-pane class with a unique ID for every tab and wrap them inside a div element with class .tab-content.  -->
<div class="container" style="margin-top: 105px;">
    <div class="card">
        <div class="card-header">

        <div class="alert alert-danger fadein server-error" style="display: none;" role="alert"></div>

        <div class="alert alert-danger fadein danger-error" style="display: none;" role="alert"></div>

        <div class="alert alert-success fadein" style="display: none;" role="alert"></div>

            <ul class="nav nav-tabs networks sticky-top mt-5">

            {% for network in rc.queues %}
                <li class="nav-item" {% if network.count == 0 %} hidden{% endif %}>
                    <a class="nav-link{% if network.activeNet %} active{% endif %}"
                    {% if network.count != 0 %} 
                        data-toggle="tab" 
                        href="#tab{{ network.name }}"
                    {% endif %}>
                        {{ network.name }}
                    </a>
                </li>
            {% endfor %}
            </ul>

            <div class="tab-content">
            {% for network in rc.queues %}
                <div id="tab{{ network.name }}" class="tab-pane container {% if network.activeNet %} active{% else %} {% if forloop.counter0 == 0 %}{% if not rc.easterEgg %}active {% else %} fade{% endif %}{% endif %}{% endif %}">
                {% if network.count == 0 %}
                    <h6>Wow, you cleared the queue! Have a cookie and some words of wisdom.</h6>
                    <img src="{% static 'img/cookie.png' %}" class="cookie" alt="Cookie" />    
                    {{ rc.empty }}

                {% else %}
                    <div id="network-header" class="nav sticky-top network-header">
                        
                        <div class="pending-info">
                            Pending Requests: {{ network.pending.count }} ({{network.file_count.files_in_dataset}} Files)
                            <br />
                            {% for lp in network.last_pull %}
                            <span class="last-pull-info">Last pull created: 
                                <span class="date-pulled">
                                    {{ lp.date_pulled|date:'db'|upper }} @ {{ lp.date_pulled|time:'Hi' }}
                                </span> 
                                by <span class="user-pulled">
                                    {{ lp.user_pulled__username }}
                                </span>
                            </span>
                            {% endfor %}
                        </div>

                        <div class="pull-button-group">
                            <a href="#" class="btn btn-warning request-encrypt">Encrypt Files</a>
                            <a href="#" class="btn btn-danger request-reject">Reject Files</a>
                            <button class="btn btn-primary pull-button{% if network.pending.count == 0 %} disabled{% endif %}" id="pull{{network.name}}">Create {{ network.name }} Pull</button> 
                            <button class="btn btn-warning pull-button centcom{% if network.centcom.count == 0 %} disabled{% endif %}" id="pull{{network.name}}">Pull only Centcom</button> 

                            

                        {% if network.last_pull.count > 0 %}
                            {% for lp in network.last_pull %}
                                <a class="btn btn-primary download-button" id="dl{{network.name}}"
                                    href="getPull/{{ network.name }}_{{ lp.pull_number }} {{lp.date_pulled|date:"dM"}} {{lp.date_pulled|time:"Hi"}}.zip">Download Current {{ network.name }} Zip</a>
                                {% endfor %}
                        {% else %}
                            <a class="btn btn-primary download-button" id="dl{{network.name}}" href="#" hidden></a>
                        {% endif %}
                        </div>
                    </div>

                    <form class="queue-form">
                    <table width="100%" border="0" cellpadding="5" cellspacing="5">
                        <colgroup>
                            <col width="20%" />
                            <col />
                            <col width="20%" />
                        </colgroup>

                        {% if "HQ" in network.orgs %}<td class="org-header" colspan="3">HQ Requests:</td>
                            {% for request in network.q %}
                                {% if request.org == "HQ" %}
                                    {% include 'partials/Queue_partials/HQ_request.html' with request=request %}
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                        
                        {% if "AFCENT" in network.orgs %}<td class="org-header" colspan="3">AFCENT Requests:</td>
                            {% for request in network.q %}
                                {% if request.org == "AFCENT" %}
                                    {% include 'partials/Queue_partials/HQ_request.html' with request=request %}
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                        
                        {% if "ARCENT" in network.orgs %}<td class="org-header" colspan="3">ARCENT Requests:</td>
                            {% for request in network.q %}
                                {% if request.org == "ARCENT" %}
                                    {% include 'partials/Queue_partials/HQ_request.html' with request=request %}
                                {% endif %}
                            {% endfor %}
                        {% endif %}

                        {% if "MARCENT" in network.orgs %}<td class="org-header" colspan="3">MARCENT Requests:</td>
                            {% for request in network.q %}
                                {% if request.org == "MARCENT" %}
                                    {% include 'partials/Queue_partials/HQ_request.html' with request=request %}
                                {% endif %}
                            {% endfor %}
                        {% endif %}

                        {% if "NAVCENT" in network.orgs %}<td class="org-header" colspan="3">NAVCENT Requests:</td>
                            {% for request in network.q %}
                                {% if request.org == "NAVCENT" %}
                                    {% include 'partials/Queue_partials/HQ_request.html' with request=request %}
                                {% endif %}
                            {% endfor %}
                        {% endif %}

                        {% if "SOCCENT" in network.orgs %}<td class="org-header" colspan="3">SOCCENT Requests:</td>
                            {% for request in network.q %}
                                {% if request.org == "SOCCENT" %}
                                    {% include 'partials/Queue_partials/HQ_request.html' with request=request %}
                                {% endif %}
                            {% endfor %}
                        {% endif %}

                        {% if "OTHER" in network.orgs %}<td class="org-header" colspan="3">OTHER Requests:</td>
                            {% for request in network.q %}
                                {% if request.org == "OTHER" %}
                                    {% include 'partials/Queue_partials/HQ_request.html' with request=request %}
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                    </table>
                    </form>

                {% endif %}
                </div>
            {% endfor %} 
            </div>

        </div> <!-- END card-header -->
    </div><!-- END card -->
</div> <!-- END container -->

<div id="reject-form" title="Reject File(s)">
    <form>
        <div class="form-group">
            <label for="reason">Rejection Reason: </label>
            <select name="reason" class="form-control">
                <option value=""></option>
                {% for r in rc.rejections %}
                <option value="{{ r.rejection_id }}" data-subject="{{ r.subject }}" data-text="{{ r.text }}">{{ r.name }}</option>
                {% endfor %}
            </select>
        </div>
    </form>
</div>

{% include 'partials/_forceReloadForm.html' %}
<script src="{% static 'js/notification.js' %}"></script>
<script src="{% static 'js/queue.js' %}"></script>
{% endblock %}
    