{% extends 'base.html' %}
{% load static %}
{% load util %}

{% block content %}
    <link rel="stylesheet" href="{% static 'jquery-ui/jquery-ui.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/reports.css' %}">

    <div class="container report-container">
        <form class="mb-3">
            <!-- date pickers for start/end dates -->
            <!-- default to week prior to current date -->
            <div class="row">
                <div class="col">
                    <label for="startDate">Start Date</label>
                    <input type="text" id="numbersStartDate" class="form-control datepicker xfer-numbers start" placeholder="Enter Date">
                </div>
                <div class="col">
                    <label for="endDate">End Date</label>
                    <input type="text" id="numbersEndDate" class="form-control datepicker xfer-numbers end" placeholder="Enter Date">
                </div>
                {% if user.is_superuser %}
                    <div class="col">
                        <label for="staffFilter">Staff Filter</label>
                        <select type="text" id="numbersStaff" class="form-select staff">
                            <option value="None">--------------------</option>
                            {% for staff in rc.staff %}
                                <option value="{{staff.id}}">{{staff}}</option>
                            {% endfor %}
                        </select>
                    </div>
                {% endif %}
            </div>
        </form>

        <div id="resultsPartial">

        </div>

    </div>
    <script src="{% static 'jquery-ui/jquery-ui.min.js' %}"></script>
    <script src="{% static 'js/reports.js' %}"></script>
{% endblock %}
