{% extends 'base.html' %}
{% load static %}
{% load util %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/scan.css' %}">

<div class="alert alert-danger fadein server-error" style="display: none;" role="alert"></div>

<div class="alert alert-danger fadein danger-error" style="display: none;" role="alert"></div>
   
<div class="alert alert-success fadein" style="display: none;" role="alert"></div>

<section class="py-4">

  <form action="#" id="scanForm" method="post" enctype="multipart/form-data" novalidate="true">
    <!-- file input -->
    <input type="file" name="toScan" />
    <input type="submit" />
  </form>
</section>

<div  id='loading-icon' hidden>
<h3>Scanning Pull...</h3>
<img src={% static 'img/loading-icon.gif' %} class='loading-icon'></img>

</div>

<section id="scan-results" hidden>
  <h3>Scan contained the following findings</h3>
  <ul id="rootList" class="list-group">
    
  </ul>
</section>

<!-- Add client side javascript checks to verify the file being uploaded is what it says it is -->
<!-- I mean, we should be able to trust our own analysts... but they're also users. And I don't -->
<!-- trust users any further than I can shot put them. -->
<script src="{% static 'js/notification.js' %}"></script>
<script> var pullZip="{{pullZip}}"; </script>
<script src="{% static 'js/scan.js' %}"></script>
{% endblock %}
    