{% extends 'base.html' %} <!-- extends base.html to here -->
{% block content %} <!-- extends base.html to here -->


<!--Cards Start Here -->
<section id="boxes" class="py-5">
    <div class="container">
        <div class="row">
       

<!-- BORDERLESS TABLE -->
            <table class="table table-borderless table-sm">
                <thead class> 
                    <tr>
                        <th>Transfer to:</th>
                        <th>Destination Email:</th>
                        <th>Current Network Email:</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <div class="custom-control custom-switch text-left">
                                <input type="checkbox" class="custom-control-input" id="switchNipr">
                                <label class="custom-control-label" for="switchNipr">NIPR</label>
                            </div>
                        </td>
                        <td>
                            <form>
                                <div class="form-group">
                                    
                                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
            
                                </div>
                            </form>
                        </td>
                        <td>
                            <form>
                                <div class="form-group">
                                    
                                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                                    
                                </div>
                            </form>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="custom-control custom-switch text-left">
                                <input type="checkbox" class="custom-control-input" id="switchBices">
                                <label class="custom-control-label" for="switchBices">BICES</label>
                            </div>
                        </td>
                        <td>
                            <form>
                                <div class="form-group">
                                   
                                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                                    
                                </div>
                            </form>
                        </td>
                        <td>
                            <form>
                                <div class="form-group">
                                    
                                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                                    
                                </div>
                            </form>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="custom-control custom-switch text-left">
                                <input type="checkbox" class="custom-control-input" id="switchCpnare">
                                <label class="custom-control-label" for="switchCpnare">CPN-ARE</label>
                            </div>
                        </td>
                        <td>
                            <form>
                                <div class="form-group">           
                                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">        
                                </div>
                            </form>
                        </td>
                        <td>
                            <form>
                                <div class="form-group">            
                                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">        
                                </div>
                            </form>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="custom-control custom-switch text-left">
                                <input type="checkbox" class="custom-control-input" id="switchCpnjor">
                                <label class="custom-control-label" for="switchCpnjor">CPN-JOR</label>
                            </div>
                        </td>
                        <td>
                            <form>
                                <div class="form-group">           
                                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">        
                                </div>
                            </form>
                        </td>
                        <td>
                            <form>
                                <div class="form-group">            
                                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">        
                                </div>
                            </form>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="custom-control custom-switch text-left">
                                <input type="checkbox" class="custom-control-input" id="switchCpnkwt">
                                <label class="custom-control-label" for="switchCpnkwt">CPN-KWT</label>
                            </div>
                        </td>
                        <td>
                            <form>
                                <div class="form-group">           
                                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">        
                                </div>
                            </form>
                        </td>
                        <td>
                            <form>
                                <div class="form-group">            
                                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">        
                                </div>
                            </form>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="custom-control custom-switch text-left">
                                <input type="checkbox" class="custom-control-input" id="switchCpnqat">
                                <label class="custom-control-label" for="switchCpnqat">CPN-QAT</label>
                            </div>
                        </td>
                        <td>
                            <form>
                                <div class="form-group">           
                                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">        
                                </div>
                            </form>
                        </td>
                        <td>
                            <form>
                                <div class="form-group">            
                                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">        
                                </div>
                            </form>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="custom-control custom-switch text-left">
                                <input type="checkbox" class="custom-control-input" id="switchCpnsau">
                                <label class="custom-control-label" for="switchCpnsau">CPN-SAU</label>
                            </div>
                        </td>
                        <td>
                            <form>
                                <div class="form-group">           
                                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">        
                                </div>
                            </form>
                        </td>
                        <td>
                            <form>
                                <div class="form-group">            
                                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">        
                                </div>
                            </form>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="custom-control custom-switch text-left">
                                <input type="checkbox" class="custom-control-input" id="switchCpnx">
                                <label class="custom-control-label" for="switchCpnx">CPN-X</label>
                            </div>
                        </td>
                        <td>
                            <form>
                                <div class="form-group">           
                                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">        
                                </div>
                            </form>
                        </td>
                        <td>
                            <form>
                                <div class="form-group">            
                                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">        
                                </div>
                            </form>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="custom-control custom-switch text-left">
                                <input type="checkbox" class="custom-control-input" id="switchSwa">
                                <label class="custom-control-label" for="switchSwa">CENTRIXS SWA</label>
                            </div>
                        </td>
                        <td>
                            <form>
                                <div class="form-group">           
                                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">        
                                </div>
                            </form>
                        </td>
                        <td>
                            <form>
                                <div class="form-group">            
                                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">        
                                </div>
                            </form>
                        </td>
                    </tr>
                </tbody>
            </table>
<!-- TABLE END -->

        

    </div>

</section>

{% endblock %} <!-- extends base.html to here -->


