{% extends 'base.html' %}
{% load static %}
{% load util %}
<title>Request Info</title>

{% block content %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/queue.css' %}">
    <link rel="stylesheet" href="{% static 'css/transfer-request.css' %}">


    <div class="container details">
        <!-- Modal -->
        <div class="modal fade" id="rejectModal" tabindex="-1" role="dialog" aria-labelledby="rejectModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modial-diolog-scrollable modal-lg" role="document">
                <div class="modal-content">
                    <form>
                        <div class="modal-header">
                            <h5 class="modal-title" id="rejectModalLabel">Select Files to Reject</h5>
                            <button type="button" class="btn-close" onclick="closeModal('#rejectModal')"></button>
                        </div>
                        
                        <div class="modal-body">
                            <input type="checkbox" name="select-all" id="select-all-files">
                            <label for="select-all-files">Select All Files</label>
                            {% for file in rqst.files.all %}
                                {% if not file.rejection_reasons.all %}
                                    <input type="checkbox" class="btn-check file-check all-files not-rejected" id="{{file.file_id}}" autocomplete="off" original>
                                    <label class="btn btn-outline-primary btn-rejection my-1 not-rejected" for="{{file.file_id}}">
                                        {% if file.is_pii or rqst.network.cfts_deployed %}
                                            <span title="PII: {{ file.is_pii }}&#10;">🔒</span>
                                        {% endif %}{{ file }}
                                        {% if file.file_count > 1 %} ({{file.file_count}} files){% endif %}
                                    </label>
                                {% endif %}
                            {% endfor %}

                        </div>
                        <div class="modal-body">
                            <div class="modal-header">
                                <h5 class="modal-title" id="rejectModalLabel">Rejected Files</h5>
                            </div>
                            {% for file in rqst.files.all %}
                                {% if file.rejection_reasons.all %}
                                    <input type="checkbox" class="btn-check file-check all-files rejected" id="{{file.file_id}}" autocomplete="off" modify>
                                    <label class="btn btn-outline-secondary btn-rejection my-1 rejected" for="{{file.file_id}}" onclick="getRejectModal(this)">
                                        {% if file.is_pii or rqst.network.cfts_deployed %}
                                            <span title="PII: {{ file.is_pii }}&#10;">🔒</span>
                                        {% endif %}{{ file }}
                                        {% if file.file_count > 1 %} ({{file.file_count}} files){% endif %}
                                    </label>
                                {% endif %}
                            {% endfor %}
                        </div>
                        

                        <div class="modal-header">
                            <h5 class="modal-title" id="rejectModalLabel">Select Rejection Reasons</h5>
                        </div>

                        <div class="modal-body">
                            {% for reason in rejections %}
                                <input type="checkbox" class="btn-check reason-check" id="{{reason.rejection_id}}" original>
                                <label class="btn btn-outline-danger btn-rejection-label my-1" for="{{reason.rejection_id}}">{{reason.name}}</label>
                            {% endfor %}
                        </div>

                        <div class="modal-header">
                            <h5 class="modal-title" id="rejectModalLabel">Comments to User (optional)</h5>
                        </div>

                        <div class="modal-body">
                            <form>
                                <div class="mb-3">
                                    <textarea type="text" class="form-control" id="reject-comments" placeholder="Users will see what you type here." original></textarea>
                                </div>
                            </form>
                        </div>
                    </form>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" onclick="closeModal('#rejectModal')">Cancel</button>
                        <button type="button" id="rejectionSubmit" class="btn btn-primary">Submit</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="reviewModal" tabindex="-1" role="dialog" aria-labelledby="reviewModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modial-diolog-scrollable modal-lg" role="document">
                <div class="modal-content">
                    <form>
                        <div class="modal-header">
                            <h5 class="modal-title" id="reviewModalLabel">Select File to Change Review</h5>
                            <button type="button" class="btn-close" onclick="closeModal('#reviewModal')"></button>
                        </div>

                        <div class="modal-body">
                            {% for file in rqst.files.all %}
                                <div class="row">
                                    <div class="col-auto">
                                        <input type="checkbox" class="btn-check file-check {% if file.rejection_reasons.all %}rejected {% else %}not-rejected {% endif %}" id="review_{{file.file_id}}" autocomplete="off" original
                                            {% if file.user_oneeye == None and file.user_twoeye == None %} disabled{% endif %}>
                                        <label class="btn btn-outline-primary btn-rejection my-1 {% if file.rejection_reasons.all %}rejected {% else %}not-rejected {% endif %}" onclick="getReviewModal(this)" for="review_{{file.file_id}}">
                                            {% if file.is_pii or rqst.network.cfts_deployed %}
                                                <span title="PII: {{ file.is_pii }}&#10;">🔒</span>
                                            {% endif %}
                                            {{ file }}
                                            {% if file.file_count > 1 %}
                                                ({{file.file_count}} files)
                                            {% endif %}
                                        </label>
                                    </div>

                                    <div class="col" style="padding-top: 0.7rem !important;">
                                        {% if file.user_oneeye != None %}
                                            <strong class="me-3"><span class="reviewers">1 Eye: {{file.user_oneeye}}</span></strong>
                                        {% endif %}
                                        {% if file.user_twoeye != None %}
                                            <strong><span class="reviewers">2 Eye: {{file.user_twoeye}}</span></strong>
                                        {% endif %}
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </form>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" onclick="closeModal('#reviewModal')">Cancel</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="encryptModal" tabindex="-1" role="dialog" aria-labelledby="encryptModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modial-diolog-scrollable modal-lg" role="document">
                <div class="modal-content">
                    <form>
                        <div class="modal-header">
                            <h5 class="modal-title" id="encryptModalLabel">Select Files to Encrypt</h5>
                            <button type="button" class="btn-close" onclick="closeModal('#encryptModal')"></button>
                        </div>

                        <div class="modal-body">
                            <input type="checkbox" name="encrypt-all" id="encrypt-all-files">
                            <label for="encrypt-all-files">Encrypt All Files</label>
                            {% for file in rqst.files.all %}
                                {% if file.is_pii == False %}
                                    <input type="checkbox" class="btn-check file-check encrypt" id="encrypt_{{file.file_id}}" autocomplete="off">
                                    <label class="btn btn-outline-warning btn-encrypt my-1" for="encrypt_{{file.file_id}}">{{ file }}{% if file.file_count > 1 %} ({{file.file_count}} files){% endif %}</label>
                                {% endif %}
                            {% endfor %}
                        </div>

                    </form>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" onclick="closeModal('#encryptModal')">Cancel</button>
                        <button type="button" id="encryptSubmit" class="btn btn-primary">Submit</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="modifyReviewModal" tabindex="-1" role="dialog" aria-labelledby="modifyReviewModalLabel" aria-hidden="true">

        </div>

        <div class="modal fade" id="modifyRejectModal" tabindex="-1" role="dialog" aria-labelledby="modifyRejectModalLabel" aria-hidden="true">

        </div>

        <div class="row button-row sticky-top bg-white mb-4 pt-3">
            <div class="col-6">
                <div class="btn-group">
                    <a type="button" class="btn btn-primary btn-back" href="/queue?network={{rqst.network}}&rqst={{rqst.request_id}}">Back</a>
                    <a class="btn btn-info" id="noteBtn" href="#">Save Notes</a>
                </div>

                <div class="btn-group ms-3">
                    {% if rqst.user.account_warning_count < 3 %}<a class="btn btn-warning" id="userWarning" href="{% url 'api-warnuser' user_id rqst.request_id %}">Issue User Warning</a>{% endif %}
                    {% if not rqst.user.banned%}
                        <a class="btn btn-danger" id="banBtn" href="{% url 'api-banuser' user_id rqst.request_id "True" "False" %}">Ban User, 1 day</a>
                        {% if user.is_superuser %}
                            <a class="btn btn-danger" id="banBtn" href="{% url 'api-banuser' user_id rqst.request_id "False" "False" %}">Ban User,
                                {% if rqst.user.strikes == 0 %} 3 days{% elif rqst.user.strikes == 1 %} 7 days{% elif rqst.user.strikes == 2 %} 30 days{% elif rqst.user.strikes == 3 %} Permanently{% endif %}
                            </a>
                        {% endif %}
                    {% else %}
                        {% if rqst.user.strikes < 4 %}
                            {% if user.is_superuser %}
                                {% if rqst.user.strikes < 3 %}
                                    <a class="btn btn-danger" id="banBtn" href="{% url 'api-banuser' user_id rqst.request_id "False" "False" %}">Escalate to
                                        {% if rqst.user.strikes == 0 %} 3 day{% elif rqst.user.strikes == 1 %} 7 day{% elif rqst.user.strikes == 2 %} 30 day{% endif %} Ban
                                    </a>
                                {% endif %}
                                <a class="btn btn-danger" id="banBtn" href="{% url 'api-banuser' user_id rqst.request_id "True" "True" %}">Escalate to Permanent Ban</a>
                            {% else %}
                                <a class="btn btn-danger" id="banBtn" href="{% url 'ban-request' rqst.request_id %}">Request Ban Escelation</a>
                            {% endif %}
                        {% endif %}
                    {% endif %}
                </div>

            </div>
            <div class="col-6">
                <div class="btn-group">
                    {% if rqst.network.cfts_deployed == False %}
                        <button  class="btn btn-warning request-encrypt" onclick="openModal('#encryptModal')">Encrypt Files</button>
                    {% endif %}
                    <button class="btn btn-danger request-reject" onclick="openModal('#rejectModal')">Reject Files</button>
                    <a href="{% url 'scan' rqst.request_id %}" class="btn btn-info">Rescan Files</a>
                    {% if user.is_superuser %}
                        <button  class="btn btn-primary request-remove one-eye"  onclick="openModal('#reviewModal')">Remove Reviewer</button>
                    {% endif %}
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-6">
                <div class="details-card">
                    {% csrf_token %}
                    <div class="card-header">

                        <ul>
                            <li>User: <a href="{% url 'admin:pages_user_change' rqst.user.user_id %}">{{rqst.user}}</a></li>
                            <li>Date Submitted: {{rqst.date_created}}</li>
                            <li>Source Email: <span class="{% if emailFlags.RHRSourceFlag == True %}text-red{% elif emailFlags.sourceDestFlag == True %}text-yellow{% endif %}">{{rqst.user.source_email}}</span></li>
                            <li>Destination Email: <span class="{% if emailFlags.RHRDestFlag == True %}text-red{% elif emailFlags.sourceDestFlag == True %}text-yellow{% endif %}">{{rqst.target_email.all.0}}</span></li>
                            <li>RHR Email: <span class="{% if emailFlags.RHRFlag == True %}text-red{% endif %}">{{rqst.RHR_email}} {% if emailFlags.RHRStaffFlag == True%}(Staff Email){% endif %}</span></li>
                            <li>Phone: {{rqst.user.phone}}</li>
                            <li>Network: {{rqst.network.name}}</li>
                            <li>org: {{rqst.org}}</li>

                            {% if rqst.user.banned == True %}
                                {% if rqst.user.strikes == 4 %}
                                    <li class="text-red">This user is banned until the end of time</li>
                                {% else %}
                                    <li class="text-red">This user is currently banned until {{rqst.user.banned_until}}</li>
                                {% endif %}
                            {% else %}
                                <li>This user is not currently banned</li>
                            {% endif %}
                            <li class="{% if rqst.user.account_warning_count == 3 %}text-red{% elif rqst.user.account_warning_count > 0 %}text-yellow{% endif %}">They have {{rqst.user.account_warning_count}} account warning{{rqst.user.account_warning_count|pluralize}}</li>
                            {% now "F d, Y" as today %}
                            {% if rqst.user.account_warning_count >= 1 %}<li {% if rqst.user.last_warned_on|date == today %}class="text-red"{% endif %}>Last warning issued on {{rqst.user.last_warned_on}}</li>{% endif %}
                            <li>They currently have {{rqst.user.strikes}} account strike{{rqst.user.strikes|pluralize}}</li>
                            <li>They have been temporarily banned {{rqst.user.temp_ban_count}} time{{rqst.user.temp_ban_count|pluralize}}</li>
                            <li>Notes:</li>
                            <textarea name="notesField" id="notesField" style="width: 100%; height: 10rem;">{% if notes != None  %}{{ notes }}{% endif %}</textarea>
                        </ul>

                    </div> <!-- END card-header -->
                </div><!-- END card -->
            </div>

            <div class="col-6">
                <div class="details-card">
                    <div class="container file-container">
                        {% for file in rqst.files.all %}
                            <div class="file-row row p-2" id="row_{{file.file_id}}" 
                            data-first-reviewer="{% if file.date_oneeye %}true{% else %}false{% endif %}"
                            data-first-reviewer-started="{% if file.date_oneeye == None and file.user_oneeye != None %}true{% else %}false{% endif %}"
                            data-second-reviewer-started="{% if file.date_twoeye == None and file.user_twoeye != None %}true{% else %}false{% endif %}"
                            data-second-reviewer="{% if file.date_twoeye %}true{% else %}false{% endif %}"
                            >
                                <div class="file-left pt-2 col">
                                    <!-- Show encrypt flag? -->
                                    {% if file.is_pii or rqst.network.cfts_deployed %}
                                        <span title="PII: {{ file.is_pii }}&#10;">🔒</span>
                                    {% endif %}
                                    <a class="{% if file.rejection_reasons.all %}rejected {% endif %} mr-2" title="{{ file }}" id="get_{{file.file_id}}" href="/getFile/{{file.file_object}}" download="{{file.file_name}}">{{ file }}{% if file.file_count > 1 %} ({{file.file_count}} files){% endif %}</a>

                                </div>
                                <div class="file-right col p-1">
                                    {% if file.rejection_reasons.all %}
                                        <button class="btn btn-danger" type="button" data-bs-toggle="popover" data-bs-html="true" data-bs-title="Rejection Reasons" data-bs-container="body" data-bs-placement="bottom" data-bs-trigger="hover focus"
                                            data-bs-content="
                                                <ul>
                                                {% for rejection in file.rejection_reasons.all %}
                                                    <li>{{rejection.name}}</li>
                                                {% endfor %}
                                                {% if file.rejection_text != none and file.rejection_text != '' %}
                                                    <li>Comments:</li>
                                                    <ul>
                                                    <li>{{file.rejection_text}}</li>
                                                    </ul>
                                                {% endif %}
                                                </ul>">File rejected for {{file.rejection_reasons.all|length}} reason{{file.rejection_reasons.all|length|pluralize}}</button>
                                        </div>

                                        <div class="rejections-row row collapse" id="reasons_{{file.file_id}}">
                                            <div class="col" colspan="2">
                                                <ul class="rejected-list">
                                                    <li>File rejected for:</li>
                                                    <ul>
                                                        {% for rejection in file.rejection_reasons.all %}
                                                            <li>{{rejection.name}}</li>
                                                        {% endfor %}
                                                    </ul>
                                                    {% if file.rejection_text != none and file.rejection_text != "" %}
                                                        <li>Comments:</li>
                                                        <ul>
                                                            <li>{{file.rejection_text}}</li>
                                                        </ul>
                                                    {% endif %}
                                                </ul>
                                            </div>


                                    {% else %}
                                        {% if file.date_oneeye != None and file.date_twoeye != None %}
                                            File reviewed by {{file.user_oneeye}} and {{file.user_twoeye}}
                                        {% elif file.user_oneeye == None %}
                                            <div class="btn-group col">
                                                <a href="{% url 'reviewFile' file.file_id rqst.request_id "False" "False" %}" class="btn btn-info btn-review" id="btn-review">Begin Review</a>
                                            </div>
                                        {% elif file.user_oneeye != None and file.user_oneeye == user and file.date_oneeye == None %}
                                            <div class="btn-group col">
                                                <a href="{% url 'reviewFile' file.file_id rqst.request_id "False" "True" %}" class="btn btn-success">Complete Review</a>
                                                <a href="{% url 'reviewFile' file.file_id rqst.request_id "True" "False" %}" class="btn btn-warning">Quit Review</a>
                                            </div>
                                        {% elif file.user_twoeye == None %}
                                            {% if file.user_oneeye == user %}
                                                File waiting for second review
                                            {% else %}
                                                <div class="btn-group col">
                                                    <a href="{% url 'reviewFile' file.file_id rqst.request_id "False" "False" %}" class="btn btn- btn-review" id="btn-review">Begin Review</a>
                                                </div>
                                            {% endif %}
                                        {% elif file.user_twoeye != None %}
                                            {% if file.user_twoeye == user and file.date_twoeye == None %}
                                                <div class="btn-group col">
                                                    <a href="{% url 'reviewFile' file.file_id rqst.request_id "False" "True" %}" class="btn btn-success">Complete Review</a>
                                                    <a href="{% url 'reviewFile' file.file_id rqst.request_id "True" "False" %}" class="btn btn-warning">Quit Review</a>
                                                </div>
                                            {% else %}
                                                {% if file.date_oneeye != None and file.date_twoeye == None %}
                                                    {{file.user_twoeye}} is reviewing this file
                                                {% elif file.date_twoeye != None and file.date_oneeye == None %}
                                                    {{file.user_oneeye}} is reviewing this file
                                                {% elif file.date_twoeye == None and file.date_oneeye == None %}
                                                    {{file.user_oneeye}} and {{file.user_twoeye}} are reviewing this file
                                                {% endif %}
                                            {% endif %}
                                        {% endif %}
                                    {% endif %}
                                </div>
                            </div>
                            {% if not file.rejection_reasons.all %}
                                {% if file.user_oneeye == user and file.date_oneeye == None or file.user_twoeye == user and file.date_twoeye == None%}
                                    {% if file.scan_results == None %}
                                        {% include 'partials/Scan_partials/scanResults.html' with empty=True %}
                                    {% else %}
                                        {% include 'partials/Scan_partials/scanResults.html' with results=file.scan_results %}
                                    {% endif %}
                                {% endif %}
                            {% endif %}

                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>

        <br>
        {% if dupes %}
            <hr class="mt-2 mb-3" style="border-top-width: 3px; border-top-color: rgba(0, 0, 0, 0.2);">

            <form class="queue-form">
                <div class="dupe-header">
                    {% if mostRecentDupe %}
                        <h4 class="org-header">Duplicate Requests (Current Request is the most recent duplicate):</h4>
                    {% else %}
                        <h4 class="org-header">Duplicate Requests (Most recent duplicate is outlined in blue):</h4>
                    {% endif %}
                    <div class="btn-group mb-3">
                        <a href="#" class="btn btn-danger reject-dupes" request_hash="{{rqst.request_hash}}" current_id="{{rqst.request_id}}">Reject All Duplicate Requests</a>
                    </div>
                </div>

                <div class="row">
                    {% for request in dupes %}
                        {% if forloop.first and mostRecentDupe == False %}
                            {% include 'partials/Queue_partials/requestTemplate.html' with request=request detailspage=True highlightFirst=True %}
                        {% else %}
                            {% include 'partials/Queue_partials/requestTemplate.html' with request=request detailspage=True %}
                        {% endif %}
                    {% endfor %}
                </div>
            </form>
        {% endif %}

    </div> <!-- END container -->

    <!-- <div class="modal-backdrop fade" style="display: none;"></div> -->

    <script>
        function getRejectModal(elem){
            //Add the CSRF token to ajax requests
            $.ajaxSetup({
                beforeSend: function(xhr, settings) {
                    xhr.setRequestHeader("X-CSRFToken", getCookie("csrftoken"));
                },
            });

            fileID = $(elem).attr('for')
            $('#'+fileID).prop('checked', 'false')
            $.ajax({
                type: "GET",
                url: "/getRejectModal/" + fileID,
                success: function(response) {
                    $("#modifyRejectModal").html(response)
                    $("#rejectModal").hide().removeClass('show').attr('aria-hidden', "true").removeAttr('aria-modal').removeAttr('role').find('form').trigger('reset')
                    $("#modifyRejectModal").show().addClass('show')
                }
            });
        }

        function getReviewModal(elem){
            //Add the CSRF token to ajax requests
            $.ajaxSetup({
                beforeSend: function(xhr, settings) {
                    xhr.setRequestHeader("X-CSRFToken", getCookie("csrftoken"));
                },
            });

            fileID = $(elem).attr('for').split('_')[1]
            $('#'+fileID).prop('checked', 'false')
            $.ajax({
                type: "GET",
                url: "/getReviewModal/" + fileID,
                success: function(response) {
                    $("#modifyReviewModal").html(response)
                    $("#reviewModal").hide().removeClass('show').attr('aria-hidden', "true").removeAttr('aria-modal').removeAttr('role').find('form').trigger('reset')
                    $("#modifyReviewModal").show().addClass('show')
                }
            });
        }

        function openModal(elem){
            $(elem).show().addClass('show')
            $('.modal-backdrop').show().addClass('show')
            $('body').addClass('modal-open').attr('style','style="overflow: hidden; padding-right: 0px;"')
        }

        function closeModal(elem){
            $(elem).hide().removeClass('show')
            $('.modal-backdrop').hide().removeClass('show')
            $('body').removeClass('modal-open').removeAttr('style')
            $('.modal').find('form').trigger('reset')
        }
    </script>

    <script>
        let rqst_id = "{{ rqst.request_id }}"
        let user_id = "{{user_id }}"
    </script>
    {% include 'partials/_forceReloadForm.html' %}
    <script src="{% static 'js/notification.js' %}"></script>
    <script src="{% static 'js/transfer-request.js' %}"></script>
    <script src="{% static 'js/review-progress.js' %}"></script>
{% endblock  %}