{% extends 'base.html' %}
{% load static %}

{% block content %}
    {% load crispy_forms_tags %}

    <div class="container py-5">
        <h1>Register CFTS Account</h1>
        <form class="needs-validation" method="post" novalidate>
            {% csrf_token %}
            {{register_form|crispy}}
            <button class="btn btn-primary" type="submit">Register</button>
        </form>
        <p class="text-center">Already have an account? <a href="/login">Login</a></p>
    </div>

    <script>
        window.document.title = "Register CFTS Account"
    </script>
    <script src="{% static 'js/form-validate.js' %}"></script>
{% endblock  %}
