{% load util %}

{% block email%}
%0D%0A%0D%0A
As a customer it is your responsibility to follow the policies that govern the use of this service.
%0D%0A%0D%0A
Our policy is available on the main page of CFTS.
%0D%0A%0D%0A
Continued failure to follow our policy may result in you no longer being able to utilize our service.
%0D%0A%0D%0A
-----------------------------------------------------------
%0D%0A
Request: {{rqst.user.name_last}}, {{firstName}} ({{ rqst.date_created|date:'d M' }} {{ rqst.date_created|time:'H:i:s' }})
%0D%0A
To see the details of your request click the following link: {{url}}
%0D%0A%0D%0A
Rejection reason: {{rejection.subject}}

{% endblock %}
