{% load util %}

{% block scanResult %}

    {% if empty == True %}
        <div class="row file-row">
            <div class="col" colspan="2">
                <ul class="scanned-list">
                    <li>File never scanned. Click the "Rescan Files" button to rerun scan.</li>
                </ul>
            </div>
        </div>
    {% else %}
        {% for result in results %}
            {% if result == "empty" %}
                {% if pull == True %}
                {% else %}
                    <div class="row file-row">
                        <div class="col" colspan="2">
                            <ul class="scanned-list">
                                <li>Clean scan</li>
                            </ul>
                        </div>
                    </div>
                {% endif %}
            {% else %}
                <div class="row file-row">
                    <div class="col" colspan="2">
                        <ul class="scanned-list">
                            {% if result.imgCount %}
                                {% if pull == True %}
                                {% else %}
                                    <li class="img-count">{{result.imgCount}} image{{result.imgCount|pluralize}} cannot be scanned</li>
                                {% endif %}
                            {% endif %}

                            {% for subFiles in result.found %}
                                <li class="scanned-item"><a href="{% url 'admin:pages_file_change' file.file_id %}">{{subFiles.file}}</a>
                                    <ul class="inner-files">
                                        {% for hit in subFiles.findings %}
                                            <li class="scanned-file">{{hit}}</li>
                                        {% endfor %}
                                    </ul>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    {% endif %}

{% endblock  %}
