{% load static %} <!-- Has to load first to use static helper -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/ddGlobal.css' %}"> <!-- DD CSS -->
    <title>CFTS</title>
</head>
<body>
    <!-- Navbar -->
    {% include 'partials/_navbar.html' %}

    <!-- Main Content -->
    {% block content %}  {% endblock %}

    <!-- Footer -->
    {% include 'partials/_footer.html' %}

    
    <!-- Add jquery, popper, bootstrap.min  to the js folder and add path-->
    <script src="{% static 'js/jquery-3.4.1.min.js' %}"></script> <!-- different version from index -->
    <script src="{% static 'js/popper.min.js' %}"></script> <!-- Check version of this -->
    <script src="{% static 'js/bootstrap.min.js' %}"></script>

</body>
</html>