{% load static %}
<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">

        <!-- CSS goes in the head because it's mental -->
        <link rel="stylesheet" href="{% static 'jquery-ui/jquery-ui.min.css' %}" />
        <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
        <link rel="stylesheet" href="{% static 'css/style.css' %}">

        <title>CFTS Maintenance</title>
    </head>

    <body>
        <!-- Main Content -->
        <h3>The Combined File Transfer Service is currently down for maintence. Please try again in a few minutes.</h3>
        <!-- Footer -->
        <div class="container">
            <h5 class="modal-title">CFTS Contact Information</h5>
            <div class="modal-body">
                You can contact the CFTS team via: <br />
                Email: centcom.macdill.centcom-hq.mbx.combined-im@mail.smil.mil <br />
                Commercial Phone: (813) 529-DTOS (3867), 3673, 3700, 3752, 3718, or
                3477
            </div>
        </div>

    </body>

</html>