{% extends 'base.html' %}
{% load static %}

{% block content %}
    {% load crispy_forms_tags %}

    <div class="container py-5">
        <h1>CFTS Password Reset</h1>
        <hr class="mt-2 mb-3" style="border-top-width: 3px; border-top-color: rgba(0, 0, 0, 0.2);" />
        <p style="font-size: medium;">Please enter your new password.</p>
        <form class="needs-validation" method="post" novalidate>
            {% csrf_token %}
            {{ form|crispy }}
            <button class="btn btn-primary" type="submit">Reset Password</button>
        </form>
    </div>

    <script>
        window.document.title = "CFTS Password Reset"
    </script>
    <script src="{% static 'js/form-validate.js' %}"></script>
{% endblock %}
