{% extends 'base.html' %}
{% load static %}

{% block content %}
{% load crispy_forms_tags %}

<div class="container py-5">
    <h1>CFTS Password Reset Request Submitted</h1>
    <hr class="mt-2 mb-3" style="border-top-width: 3px; border-top-color: rgba(0, 0, 0, 0.2);"/>
    <p style="font-size: medium;">Your request has been submitted and you will recieve an email with instructions on resetting your password.<br><br>This email is <strong>not</strong> automated and may take a few hours to be delivered.</p>
</div>

<script>window.document.title = "CFTS Password Reset Sent"</script>
{% endblock %}