{% extends 'base.html' %}
{% load static %}
{% load util %}

{% block content %}
{% load crispy_forms_tags %}

<div class="container py-5">
    <h1>CFTS Password Reset</h1>
    <hr class="mt-2 mb-3" style="border-top-width: 3px; border-top-color: rgba(0, 0, 0, 0.2);"/>
    <p style="font-size: medium;">If you have forgotten your password, enter in your {{ envNet }} email below. An email will be sent to you with further instructions.</p>
    <form class="needs-validation" method="post" novalidate>
        {% csrf_token s%}
        {{ password_reset_form|crispy }}
        <button class="btn btn-primary" type="submit">Request Password Reset</button>
    </form>
</div>

<script>window.document.title = "CFTS Password Reset"</script>
<script src="{% static 'js/form-validate.js' %}"></script>
{% endblock %}