.tab-pane { padding-bottom: 1rem; }
.network-header { text-align: right; }
.network-header > div { 
    display: inline-block;
    vertical-align: top;
  }
  .pending-info { 
    float: left; 
    font-size: 1.5rem;
    line-height: 1.5rem;
    text-align: left;
  }
  .last-pull-info {
    font-size: 1rem;
    font-style: italic;
    line-height: 1rem;
  }
  .create-pull {}
  .download-block {}

.queue-form { padding: 2.3rem 0 1rem; }
.queue-form table {  }
.queue-form tr { line-height: 1.6rem; }

.queue-form tr.pending { background-color: #EEE; color: #BBB; font-style: italic; }
.queue-form tr.pending a { color: #BBD0FF; }

.queue-form tr.rejected, .queue-form tr.rejected a { color: #DD0000; }

.queue-form tr:hover, 
.queue-form tr.pending:hover,
.queue-form tr.rejected:hover { background-color: #F8E080; }

.queue-form tr.spacing { line-height: 0.5rem; }
.queue-form tr.spacing:hover { background-color: initial; }

.queue-form td { padding: 1px 5px; }


.btn { font-size: 0.8em; }
.btn-back { margin-bottom: 1rem; }

.btn-reject{ display: none; padding: 0.175rem 0.5rem; }
.btn-reject-selected { padding: 0.135rem 0.5rem; }