.inline-fields {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
}

.inline-fields > .mb-3 {
    width: 48%;
}

.container{
    margin-bottom: auto;
}