.upload-console-drop {
    border: 2px dashed #ccc;
    color: #ccc;
    height: auto;
    width: 100%;
    margin-top: 15px;
    margin-bottom: 20px;
    min-height: 100px;
    text-align: left;
}

.upload-console-drop.empty {
    height: 100px;
    line-height: 100px;
    text-align: center;
}

.highlight-active {
    border-color: #07F !important;
    box-shadow: 0 0 3px 0 #07F;
}

.container{
    margin-bottom: auto;
}