/* frontend.css */

/* layout overrides */
/* .navbar.py-4 {
    padding: 1rem 1.5rem !important
} */

#boxes.py-5 {
    padding: 1.5rem 0 !important
}

.card-body {
    min-height: 636px;
}

#boxes {
    margin-bottom: auto;
}

.card-body h3 {
    line-height: 1.5em;
}

.spacer {
    line-height: 2em;
}

.sub_btn {
    font-size: 1.4rem;
}

label.custom-control-label {
    line-height: 1.67em;
}

.input-group-text {
    color: red !important;
    font-weight: bold;
}

input[type="checkbox"] {
    /* margin-top: 0.5rem; */
    transform: scale(2) !important;
}

/* file input button */
/* hide the standard file input visually, but keep it in the DOM for accessability and validation */
#standard-upload-files {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    /* 1 */
    clip-path: inset(50%);
    border: 0;
}

.upload-console .form-group {
    text-align: center;
}

/* Drag & drop styles (from ddGlobal) */
.upload-console-drop {
    border: 2px dashed #b5adad;
    color: #b5adad;
    height: auto;
    margin-top: 15px;
    /* margin-bottom: 10px; */
    min-height: 100px;
}

.upload-console-drop.empty {
    height: 192px;
    font-size: medium;
    text-align: center;
    padding-top: 5rem !important;
}

/* end ddGlobal */

.highlight-active {
    border-color: #07F !important;
    box-shadow: 0 0 3px 0 #07F;
    color: #07F;
}

.file-list.init {
    text-align: center;
}

.file-list span {
    display: block;
    font-style: italic;
    margin: 1em 0;
}

.file-list ul {
    line-height: 1.67em;
    list-style-type: "❌";
    margin-left: -1em;
}

.file-list ul li {
    padding-left: 0.33em;
}

.file-list ul li a.remove {
    display: inline-block;
    margin: 0.5em 0 0 -2em;
    cursor: pointer;
    height: 1.67em;
    width: 2em;
}

.file-list .file-classification {
    display: inline-block;
    font-size: 1em;
    margin-right: 2em;
    width: 50%;
}

/* .file-list input[ type=checkbox] {
    width: auto;
    margin-right: -3rem;
    margin-left: 16.5rem;
} */

.file-list label {
    white-space: nowrap;
}

.alert {
    text-align: center;
}

h6.isCentcom {
    text-align: left;
}

.required {
    color: red !important;
    font-weight: bold;
    font-size: 1rem;
}

.organization {
    width: 12rem;
}

.form-switch{
    /* margin-left: 2.5rem; */
    margin-left: 1rem;
}

.btn-rejection-input:focus, .btn-rejection-label:focus, .btn-check:focus + .btn{
    outline: none;
    box-shadow: none;
}

.btn-rejection-label:focus, .btn-check:focus + .btn{
    color: var(--bs-btn-color);
    background-color: var(--bs-btn-bg);
    border-color: var(--bs-btn-border-color);
}

.btn-check:checked + .btn, .btn-check:active + .btn, .btn:active, .btn.active, .btn.show {
	color: var(--bs-btn-active-color) !important;
	background-color: var(--bs-btn-active-bg) !important;
	border-color: var(--bs-btn-active-border-color) !important;
}

.row.form-check.row-cols-3{
    --bs-gutter-x: 1.5rem !important;
    --bs-gutter-y: 0 !important;
    display: flex !important;
    flex-wrap: wrap !important;
    margin-top: calc(-1 * var(--bs-gutter-y)) !important;
    margin-right: calc(-.5 * var(--bs-gutter-x)) !important;
    margin-left: calc(-.5 * var(--bs-gutter-x)) !important;
    min-height: unset;
    padding-left: unset;
    margin-bottom: unset;
}

.form-check-input.is-invalid~.form-check-label, .was-validated .form-check-input:invalid~.form-check-label {
    color: #dc3545;
    --bs-btn-border-color: #dc3545;
}

.form-check-input.is-valid~.form-check-label, .was-validated .form-check-input:valid~.form-check-label {
    color: #198754;
    --bs-btn-active-bg: #198754;
    --bs-btn-border-color: #198754;
}