table { 
  border-collapse: separate; 
  border-spacing: 0.3vw; 
  width: 100%;
}

table td { 
  padding: 1vw 0.5vw; 
  vertical-align: top;
}

/* table tr:first-child td { padding: 0.3vw 0.5vw;  } */

th{
  text-indent: .2rem;
  white-space: nowrap;

}
s
.col-3{
  padding-right: 10px;
  padding-left: 10px;
}