/* reports.css */
.ui-datepicker {
    z-index: 2000 !important;
}

.results {
    display: none;
}

.results h3 {
    color: red;
}

.results-data {
    font-size: 2em;
}

.fileCount,
#size {
    font-size: 1.75em;
}

.report-container{
    margin-bottom: auto;
}