/* reports.css */
.ui-datepicker{ z-index: 2000 !important; }

.results { display: none; }
.results h3 { color: red; }

#reviewed, #transfered, #rejected, #centcom, #org, #users { font-size: 2em; }

.fileCount, #size{ font-size: 1.75em;}