table {
    border-collapse: separate;
    border-spacing: 0.3vw;
    width: 100%;
}

table td {
    text-align: left; /* Aligns data to the left */
    padding: 0.5vw 1vw;
    vertical-align: top;
}

table tr:first-child td {
    padding: 0.3vw 0.5vw;
}

.data-table .form-group .filter {
    font-size: inherit;
}

tr.data-row {
    border-bottom: 1px solid #ddd; /* Adds a subtle separator between rows */
}

.data-table .form-group .filter-active,
.data-table .form-group .filter-active:focus {
    background-color: rgba(220, 200, 5, 0.3);
}

ul.file-list,
ul.email-list {
    padding-left: 0;
}


.modal ul {
    padding-left: 0;
}

.modal ul li {
    list-style: none;
}

th {
    text-align: left;  /* Aligns text to the left */
    padding: 0.5vw 1vw; /* Ensures even spacing */
    border-bottom: 2px solid #ddd; 

}

.status-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
}

.file-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ddd; 
    padding: 10px 0;
}

.file-name {
    flex: 1; 
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; 
}

.review-status-wrapper {
    display: flex;
    gap: 20px; 
}

.review-status {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 60px; 
    text-align: center;
}

.review-label {
    font-size: 12px;
    font-weight: bold;
}

.review-icon {
    font-size: 1.2em;
}


/* .btn-back {
    margin-right: 18rem;
} */

.status-text {
    text-align: center;
}

.status-img {
    width: 80px;
}

.card,
.card:hover {
    margin-bottom: 1rem;
    border-width: 0.3rem;
    height: 95%;
    text-decoration: none;
    color: black;
}

.col-3 {
    padding-right: 10px;
    padding-left: 10px;
}

.border-red {
    border-color: #EF476F;
}

.border-green {
    border-color: #06D6A0;
}

.rejected {
    color: #DD0000;
    text-decoration: line-through;
}

.details-container{
    margin-bottom: auto;
}

#passphraseModal{
    z-index: 8000;
}