#scan-results h3,
#loading-icon h3 {
    color: red;
}

tbody {
    border: 1px dashed red;
    border-radius: 1.5rem;
    max-width: 50vw;
    min-width: 50vmax;
    font-size: 1.25em;
    font-weight: bold;
}

.inner-files {
    font-weight: normal;
}

.img-count {
    list-style-type: none;
    font-size: 1rem;
}