body {
  margin-top: 105px; 
}

nav.navbar {
  background: #fff; 
  box-shadow: 2px 2px 5px #484848;
  font: 1.1rem 'Georgia', 'Times New Roman', serif;
  opacity: 0.9;
}
  nav.navbar li.nav-item {
    font-size: 1.4rem;
    padding-right: 1.4rem; 
  }

.card-body1 {
  height: 150px; }

.card-body {
  height: 450px; }

#boxes {
  margin-bottom: 100px; }

.sub_btn {
  font-size: 1.4rem; }
