body {
  margin-top: 105px; 
}
  
.navbar {
  box-shadow: 2px 2px 5px #484848;
  opacity: 0.9;
  background: #fff;
}
  .navbar .nav-item {
    font-size: 1.4rem;
    padding-right: 1.4rem;
  }

.tab-pane {
  background-color: #fff;
  border: 1px solid #dee2e6;
  border-top: 0;
  padding: 0.67em;
}

.network-header { font-size: 1.5rem; }

.pull-button { float: right; }

.queue-form { padding: 1rem 0; }
.queue-form tr { }
.queue-form tr:hover { background-color: #F8E080; }
.queue-form tr.pending { background-color: #EEE; color: #DDD; font-style: italic; }
.queue-form tr.pending a { color: #BBD0FF; }

.btn { font-size: 0.8em; }
.btn-back { margin-bottom: 1rem; }