body {
  margin-top: 105px; 
}
  
.navbar {
  box-shadow: 2px 2px 5px #484848;
  opacity: 0.9;
  background: #fff;
}
  .navbar .nav-item {
    font-size: 1.4rem;
    padding-right: 1.4rem;
  }

.tab-pane {
  background-color: #fff;
  border: 1px solid #dee2e6;
  border-top: 0;
  padding: 0.67em;
}