body {
  margin-top: 105px; }

.navbar {
  box-shadow: 2px 2px 5px #484848;
  opacity: 0.9;
  background: #fff; }
  .navbar .nav-item {
    font-size: 1.4rem;
    padding-right: 1.4rem; }

.card-body1 {
  height: 150px; }

.card-body {
  height: 450px; }

#boxes {
  margin-bottom: 100px; }

.sub_btn {
  font-size: 1.4rem; }
