/* break this up as needed (?) */

body {
  margin-top: 105px; 
}

nav.navbar {
  background: #fff; 
  box-shadow: 2px 2px 5px #484848;
  font: 1.1rem 'Georgia', 'Times New Roman', serif;
  opacity: 0.9;
}
  nav.navbar li.nav-item {
    font-size: 1.4rem;
    padding-right: 1.4rem; 
  }

.card-body {
  height: 475px; }

#boxes {
  margin-bottom: 100px; }

.card-body h3 { line-height: 1.67em; }
 
.spacer { line-height: 2em; }

.sub_btn {
  font-size: 1.4rem; }