.rejected, .rejected:hover { 
    color: #DD0000 !important; 
    text-decoration: line-through; 
}

.details{
    margin-top: 130px; 
    min-width: 87%;
}

.status-imgs{
    background-color: rgb(245,245,240);
    float: right;
    margin-top: -5px;
}

.status-img{
    height: 23px;
    width: 30px;
    outline: solid;
    outline-offset: 1px;
    outline-width: 3px;
    padding: 2px;
}

tr:nth-of-type(odd) {
    background-color: rgba(0,0,0,0.05);
}

/* .file-left{
    width: 20%;
} */

.file-right{
    text-align: end;
}

.card{
    word-break: break-word;
}