.rejected,
.rejected:hover {
    color: #dd0000 !important;
    text-decoration: line-through;
}

.details {
    margin-bottom: auto;
}

.details,
.messages {
    min-width: 87%;
}

.status-imgs {
    background-color: rgb(245, 245, 240);
    float: right;
    margin-top: -5px;
}

.status-img {
    height: 23px;
    width: 30px;
    outline: solid;
    outline-offset: 1px;
    outline-width: 3px;
    padding: 2px;
}

.file-row:nth-of-type(odd) {
    background-color: rgba(0, 0, 0, 0.05);
}

.file-right {
    text-align: end;
}

.details-card {
    word-break: break-word;
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
}

.card-header {
    height: 100%;
    padding: 0.75rem 1.25rem;
    margin-bottom: 0;
    background-color: rgba(0, 0, 0, 0.03);
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}

.dupe-header {
    display: flex;
    justify-content: space-between;
}

.text-red {
    color: red;
}

.text-yellow {
    color: #ffae00;
}


.btn-review {
    --bs-btn-color: var(--bs-white);
    --bs-btn-bg: var(--bs-purple);
    --bs-btn-border-color: var(--bs-purple);
    --bs-btn-border-radius: 0.5rem;
    --bs-btn-hover-color: var(--bs-white);
    --bs-btn-focus-shadow-rgb: var(--bs-purple-rgb);
    --bs-btn-active-color: var(--bs-btn-hover-color);
    --bs-btn-hover-bg: #5f37aa;
    --bs-btn-hover-border-color: #573792;
    --bs-btn-active-bg: #5f37aa;
    --bs-btn-active-border-color: #573792;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #000;
    --bs-btn-disabled-bg: var(--bs-purple);
    --bs-btn-disabled-border-color: var(--bs-purple);
}

.btn-rejection-input:focus, .btn-rejection-label:focus, .btn-check:focus + .btn{
    outline: none;
    box-shadow: none;
}

.btn-rejection-label:focus, .btn-check:focus + .btn{
    color: var(--bs-btn-color);
    background-color: var(--bs-btn-bg);
    border-color: var(--bs-btn-border-color);
}

.btn-check:checked + .btn, .btn-check:active + .btn, .btn:active, .btn.active, .btn.show {
	color: var(--bs-btn-active-color) !important;
	background-color: var(--bs-btn-active-bg) !important;
	border-color: var(--bs-btn-active-border-color) !important;
}

@media (max-width: 1575px) {
    .btn-group {
        margin-left: 0% !important;
    }
}

@media (max-width: 1160px) {
    .btn {
        padding: 0.25rem 0.5rem !important;
        font-size: 0.875rem !important;
        line-height: 1.5 !important;
        border-radius: 0.2rem !important;
    }
}